
<h3 class="bg-secondary text-white">@FullNameValue</h3>

<div class="form-group">
    <label>Full Name:</label>
    <input type="text" class="form-control" @onchange="@(e => FullName(e, null))" />
    <input type="text" class="form-control" @onchange="@(e => FullName(null, e))" />
</div>

@code {
    public string FullNameValue { get; set; }

    private void FullName(ChangeEventArgs e1, ChangeEventArgs e2)
    {
        if (e1 != null)
        {
            FullNameValue = e1.Value as string;
        }

        if (e2 != null)
        {
            FullNameValue = FullNameValue + " " + e2.Value as string;

        }

    }
}